header.bd-navbar {
    background: #ffffff83;
}
a.nav-link {
    background: #005e75;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
img.logo {
    width: 120px;
}
h1.title {
    text-align: center;
    font-weight: bolder;
}
div.box {
    background: #005e75;
    padding: 5px;
    color: #ffffff;
}
p.content {
    text-align: justify;
    color: #ffffff;
}
footer {
    background: #000;
    position: relative;
    padding-top: 27px;
    padding-bottom: 35px;
}
footer > p {
    text-align: center;
    font-size: 8pt;
    color: #ffffff;
}
.btn {
    background: #4CAF50;
    color: #ffffff;
}
.btn:hover {
    background: #258000;
}