
.search-bar {
width: 25%;
float: left;
}

.results {
width: 75%;
float: right;
padding-left: 20px;
}

.results img {
height: 100px;
margin-right: 10px;
}

.card-text {
    text-align: left;
}

.favoritado {
    color: red;
    }

.footerfavorito {
        background: #005e75;
        padding: 20px 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
      }